<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <title>ChatCat -Cat's Away</title>
  <style>
    .container {
      position: relative;
      height: 140px;
      width: 400px;
      background: #C3C3C3;
      padding: 10px;
      top: 96px;
      left: 200px;
      border-left: 19px solid #D24343;
    }
    h1 {
      font-family: sans-serif;
      margin: 5px;
    }
  </style>
</html>